<body>

  <main class="flex-main">


      <nav class="flex-nav">
          <a class="button" 
            *ngFor="let button of buttons"  
            routerLink="./{{button.title}}">
            {{button.title}}</a>
      </nav>


      <article class="flex-article"  >
          <a class="icon" 
            *ngFor="let button of buttons"
            routerLink="./{{button.title}}">
            <mat-icon>{{button.icon}}</mat-icon></a>
      </article>
      
      <aside class="flex-aside">
          <router-outlet></router-outlet>
      </aside> 
      
  </main>
</body>