.container {
    width: 100%;
    height: 100%;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
  }
  
  .sidenav {
    padding: 0px;
  }

  mat-icon{
      font-size:60px;
      
  }