body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.navigation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-width: 200px;
  max-width: 300px;
  height: 100vh;
  background: hsl(0, 0%, 20%);
}
.main-page {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: rgb(32, 32, 38);
  color: white;
}

.button {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-weight: 500;
  height: 10vh;
  padding-left: 1rem;
  padding-right: 0.8rem;
  color: hsl(85, 80%, 40%);
}

.button:hover {
  background: hsl(200, 82%, 67%);
  color: hsl(275, 80%, 40%);
}

#menu-button {
  display: flex;
  justify-content: right;
}

@media all and (max-width: 700px) {
  .navigation {
    position: relative;
    left: -150px;
  }
  .main-page {
    position: fixed;
    left: 50px;
  }
  .navigation:hover {
    position: relative;
    transform: translateX(150px);
    transition-duration: 250ms;
    z-index: 2;
  }
}
