<body>
    <h1>Register</h1>
    <h3>
    <form action="/Register" method="POST">
    <div>
        <div class="label"><label for="firstName">First Name</label></div>
        <div class="input"><input type="text" name="firstName" id="firstName"></div>
    </div>
    <div>
        <div class="label"><label for="lastName">Last Name</label></div>
        <div class="input"><input type="text" name="lastName" id="lastName"></div>
    </div>
    <div>
        <div class="label"><label for="email">Email</label></div>
        <div class="input"><input type="text" name="email" id="email"></div>
    <div>
    <div>
        <div class="label"><label for="phoneNumber">Phone Number</label></div>
        <div class="input"><input type="tel" name="phoneNumber" id="phoneNumber"></div>
    <div>
    <div>
        <div class="label"><label for="jobTitle">Job Title</label></div>
        <div class="input">
            <select id="jobTitle" name="jobTitle">
                <option value="Worker">Worker</option>
                <option value="Lead Hand">Lead Hand</option>
                <option value="Supervisor">Supervisor</option>
                <option value="Manager">Manager</option>
            </select>
        </div>
    <div>
    <div>
        <div class="label"><label for="location">Primary Worksite</label></div>
        <div class="input">
            <select id="location" name="location">
                <option value="Vancouver">Vancouver</option>
                <option value="Calgary">Calgary</option>
                <option value="Winnipeg">Winnipeg</option>
                <option value="Toronto">Toronto</option>
                <option value="Ottawa">Ottawa</option>
                <option value="Montreal">Montreal</option>
            </select>
        </div>
    <div>
        <div class="label"><label for="password">Password</label></div>
        <div class="input"><input type="text" name="password" id="password"></div>
    </div>
    <button type="submit">Register</button>
    <a routerLink="/Login">Login</a>
