.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 2rem;
    width: 100%;
    
}

.menu{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 4px;
    width:50px;
    background-color: black;
    color: white;
}

.title{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    padding: 5px;
    padding-left: 20px;
    width:100vw;
    background-color: black;
    color: white;

}